---
import { Image } from "astro:assets";
---




<div class="text-center">
<Image class="mb-4 rounded h-52 w-52 object-cover" src="/avatar.jpg" alt="Avatar" width={1024} height={1024} />
<a href="#" class="text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200">@women_codes</a>
</div>