---
import { Icon } from "astro-icon/components";
---

<div class='flex justify-between w-5/6 mt-10 text-teal-300'>
   <a
     class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
     href='https://www.twitter.com/@stefanrows'
   >
     <Icon width='2em' height='2em' name='Twitter' />
   </a>
   <a
     class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
     href='https://www.github.com/stefanrows'
   >
     <Icon width='2em' height='2em' name='github' />
   </a>
   <a
     class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
     href='https://www.linkedin.com/stefanrows'
   >
     <Icon name='linkedin' width='2em' height='2em'  />
   </a>
   <a
     class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
     href='https://www.instagram.com/stefanrows'
   >
     <Icon width='2em' height='2em' name='fb' />
   </a>
   <a
     class='transition-all duration-500 hover:scale-105 opacity-70 hover:opacity-100'
     href='https://www.youtube.com/stefanrows'
   >
     <Icon width='2.5em' height='2.5em' name='youtube' />
   </a>
 </div>